<div class="panel-footer">
        <p>Todos los Derechos Reservados <abbr title="Creado por: www.stidominicana.com"><b>MiColegio</b></abbr> || &copy; @DateTime.Now.Year</p>
        @*<p class="modal-footer">Aplicaci&#243n Web MiColegio || &copy; @DateTime.Now.Year</p>*@
</div>