@{
    ViewBag.Title = "Contactanos";
}

<div class="container">
    <div class="col-md-offset-0">
        <h2>Estimado Cliente,</h2>
        <br />
        <p>En estos momentos nos encontramos fuera de servicio de manera temporal</p>
        <br />
        <address>
            <p> <strong>Para contactos:</strong></p>
            <abbr title="Telefono">Telefono:</abbr>
            829-849-3066
        </address>

        <address>
            <strong>Estribanos:</strong>   <a href="mailto:Support@example.com">info@stidominicana.com</a><br />
        </address>
        <br />
        <h4>Gracias!.</h4>
    </div>
</div>