@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Sistema Web MiColegio</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>



<div class="row">
    <div class="col-md-4">
        <h3><strong>Funcionalidades</strong></h3>
        <p>Sistema web para inscripciones de estudiantes y manejo del historial</p>
        <p><a class="btn btn-primary btn-sm">M&aacute;s detalles aqu&iacute; &raquo;</a></p>
    </div>
</div>